header{
    height: 60px;
    text-align: center;
    position: relative;
    background-color: rgb(154, 236, 154);
    padding: 5px;
}

header div{
    width: 200px;
    background-color: green;
    margin: 10px auto;
    padding: 10px;
}

.logo{
 position: absolute;
 top: 10px;
 left: 20px;
 width: 40px;
}  


body{
    font-family:Caveat;
    background-image: url(images/bg1-min.png);
    background-size: cover;
    background-position: center;
    height: 100vh;
    margin: 0;
}


main{
    height: 100vh;
    background-color: rgba(255  255, 255, .4);
    
}

main p{
    font-size: 20px;
    text-align:left;
    
}

main img{
      height: 300px;
      width: 300px;
}

footer{
    height: 60px;
    text-align: center;
    position: relative;
    background-color: rgb(154, 236, 154);
    padding: 5px;
}

footer div{
    width: 200px;
    background-color: green;
    margin: 10px auto;
    padding: 10px; 
}

footer img{
   height:400px;
   width:450px;
   right:20px;
   border: 5px double lightgreen;
}